body {
  margin: 0;
  background-image: url(./assets/cart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  width: 500px;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 3em;
  text-shadow: 5px 3px 2px #556;
}

#intro {
  font-size: 1.1em;
  color: #753;
  font-weight: bold;
}

input {
  height: 2em;
  padding: 0 5px;
}

input:hover {
  background: #110;
  color: #fff;
}

button {
  height: 3em;
  width: 8em;
  cursor: pointer;
  border-radius: 8px;
  background: #986;
  font-weight: bold;
  margin: 10px;
  padding-top: 15px;
}

button:hover {
  background: #011112;
  color: #fff;
}

span {
  font-size: 1.5em;
  line-height: 1.8em;
  position: relative;
}
